<section class="orders-show">



  <header class="page-header">
   
    <h1>Order #<%= @order.id %></h1>
  </header>
    
  <% @info = LineItem.where(order_id:  @order[:id])%>

  <div class="order-summary jumbotron">
  <thead>
      </thead>
    <tbody>
    <% @info.each do |item| %>
      <%= render 'item', prod_id: item[:product_id], quantity: item[:quantity], total_price: item[:total_price_cents] %>
    <% end %>
    </tbody>
    <tfooter>
      
      <%= "Order Total: #{humanized_money_with_symbol @info.reduce(0) {|sum, item| sum + item[:total_price_cents]}}" %>
      <br />
      <%= @order[:email] %>
      <h4>Thank you for your order!</h4>
    </tfooter>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

<%# Order id: 2, total_cents: 323844, created_at: "2020-03-05 00:07:30", updated_at: "2020-03-05 00:07:30", stripe_charge_id: "ch_1GJ7GYArFxldeJMlUs07jWpg", email: "kvirani@gmail.com"> %>
<%#   %>